/* === Styles for the Footer === */

footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    padding: 30px 40px;
    box-sizing: border-box;
    font-size: 20px;
    margin-top: auto;

    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .left {
    margin: 0;
}

footer .name {
    font-size: 1.3em;
    margin: 0;
}

footer .location {
    font-size: 0.8em;
    margin-top: 5px;
    margin: 0;
}

footer .social-media-icons {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    cursor: pointer;
}

footer .social-media-icons .icon {
    width: 1.5em;
    height: auto;
}

/* Mobile Responsiveness -- Change order of items */
@media only screen and (max-width: 768px) {  
    footer {
        flex-direction: column;
    }

    footer .social-media-icons {
        margin-top: 20px;
        margin-left: 0;
    }
}