/* Styles for the Navigation Bar, identified with the id: navbar */
:root {
    --darkmode-colour: #1A579E;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    z-index: 20;
    margin: 1.5em;
    width: calc(100vw - 3em);
}

#navbar {
    font-size: 20px;
    padding: 8px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    color: white;
}

#navbar hr {
    height: 1.7em;
    border: 1px solid white;
}

.dark {
    background-color: var(--darkmode-colour) !important;
}

.colorChangeAdd {
    background-color: var(--darkmode-colour) !important;
    transition: 0.3s background-color;
}

.colorChangeRemove {
    background-color: rgba(255, 255, 255, 0.3) !important;
    transition: 0.3s background-color;
}

#navbar .tabs {
    display: flex;
    align-items: center;
    gap: 1.2em;
    margin-left: auto;
    font-size: 1em;
}

#navbar #mobile-hamburger {
    display: none;
}

#mobile-tabs {
    display: none;
}

#navbar h1 {
    font-weight: 700;
    font-size: 2rem;
    margin: 0px;
    text-decoration: none;
    color: white;
}

#navbar a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#navbar a:hover {
    opacity: 0.7;
    transition: 0.3s opacity;
}

#navbar .button {
    padding: 12px 20px;
    border-radius: 15px;
    background-color: rgba(19,49,92, 1);
    cursor: pointer;
    font-weight: 700;
}

#navbar .button:hover {
    background-color: rgba(19,49,92, 0.9);    
    transition: 0.3s background-color;
}

/* === MOBILE RESPONSIVE ===*/
@media screen and (max-width: 768px) {
    #navbar {
        border-radius: 20px;
        font-size: 18px;
    }
    
    #navbar #mobile-hamburger {
        display: block;
        height: 2.6rem;
        width: auto;
        margin-left: auto;
    }
    
    #mobile-tabs {
        flex-direction: column;
        justify-content: left;
        gap: 1.1em;
        padding: 20px 40px;
        color: white;
        font-size: 1.3em;
        
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px); 
        border-radius: 20px;   
    }

    #mobile-tabs hr {
        height: 1.7em;
        border: 1px solid white;
        margin: 0 1em;
    }

    #mobile-tabs .login-signup {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #mobile-tabs a {
        text-decoration: none;
        color: white;
    }

    #mobile-tabs .button {
        font-weight: 700;
    }

    #navbar h1 {
        font-size: 1.8em;
    }

    #navbar .tabs {
        display: none;
    }
}