/* === Styles for the Footer === */

footer {
    bottom: 0;
    padding: 30px 40px;
    max-width: 100vw;

    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .left {
    margin: 0;
}

footer .title {
    font-size: 1.8rem;
    margin: 0;
}

footer .location {
    font-size: 1.1rem;
    margin-top: 5px;
}

footer .social-media-icons {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

footer .social-media-icons .icon {
    width: 30px;
    height: auto;
}

@media only screen and (max-width: 768px) {  
    footer {
        flex-direction: column;
    }

    footer .social-media-icons {
        margin-top: 20px;
        margin-left: 0;
    }
}