/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

body::-webkit-scrollbar{
    display: none;
}

/* Hero Section */
#hero-section {
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: 700px;
    /* background-color: burlywood; */
}

#hero-section .title {
    margin: 0px 10%;
    font-size: 75px;
}

#hero-section .desc {
    margin: 5px 0px;
    font-size: 30px;
}

/* Price Tiers */
#price-tiers {
    margin: 0px 4%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    margin-top: -300px;
    z-index: 5;
    font-size: 25px;
}

#price-tiers .tier {
    flex-basis: 27%;
    box-shadow: 0 0 20px #777;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

#price-tiers .tier hr {
    width: 100%; /* To fix a weird bug when using with flexboxes, where the hr line will disappear */
    max-width: 50%;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: darkgray;
}

#price-tiers .tier .name {
    margin: 0px;
    font-size: 1.8em;
}

#price-tiers .tier .desc {
    margin: 12px 0px; 
    font-size:0.8em;
}

#price-tiers .tier .price {
    margin: 0px;
    margin-top: 10px;
    font-size: 1.8em;
}

#price-tiers .tier .price-per {
    margin: 0px;
    font-size: 0.5em;
    font-weight: 400;
    color: #777;
}

#price-tiers .features {
    display: flex;
    flex-direction: column;
}

#price-tiers .features .feature {
    font-size: 0.85em;
    display: inline-flex;
    gap: 10px;
    margin: 0;
    margin-bottom: 20px;
}

#price-tiers .feature-icon {
    height: 20px;
    width: auto;
}

#price-tiers .tier .action-btn {
    margin-top: auto;
    padding: 15px;
    border: 0px;
    font-size: 0.8em;
    font-weight: 700;
    border-radius: 15px;
    width: 100%;
    display: inline-flex;
    cursor: pointer;
}

#price-tiers .tier .action-btn-icn {
    margin-left: auto;
    height: 23px;
    width: auto;
}

/* Comparison Table */
#feature-comparison {
    margin: 5% 4%;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

#feature-comparison .subtitle {
    font-size: 2em;
    margin: 0;
}

#feature-comparison p {
    font-size: 1em;
    margin-top: 10px;
}

#feature-comparison .table-scroll {
    overflow: auto;
}

#feature-comparison table {
    width: 100%;
    padding: 20px;
    border: 2px solid #777;
    border-radius: 20px;

}

#feature-comparison .table-headers {
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
}

#feature-comparison .table-headers td {
    padding: 10px;
}

#feature-comparison .table-rows td {
    padding: 8px;
    justify-content: center;
    text-align: center;
}

#feature-comparison .icon {
    width: auto;
    height: 1em;
    color: #777;
}

#feature-comparison .check {
    color: #13315C;
}

#feature-comparison .feature {
    text-align: left !important;
    font-weight: bold;
}

/* === RESPONSIVE UI ===*/
@media only screen and (max-width: 1200px) {
    /* Hero Section */
    #hero-section .title {
        font-size: 60px;
    }

    #price-tiers {
        gap: 50px;
        margin-top: -320px;
        flex-wrap: wrap;
    }

    #price-tiers .tier {
        box-shadow: 0 0 20px #777;
        background-color: white;
        padding: 30px;
        border-radius: 15px;
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 768px) {  
    /* Hero Section */
    #hero-section .title {
        font-size: 50px;
        margin: 1% 10%;
    }

    #hero-section .desc {
        font-size: 25px;
        margin: 0px 10%;
    }
}