/* === Styles for the Main Landing Page === */

/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    text-decoration: none;
}

body::-webkit-scrollbar{
    display: none;
}

/* Variables */
:root {
    --subtitle-size: 45px;
}

/* Titles and Descriptions */
.title {
    font-size: var(--subtitle-size) !important;
}

.margin0 {
    margin: 0;
}

/* Hero Section */
#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #134074;
    color: white;
    top: 0;
}

#hero-section .header {
    display: flex;
    flex-direction: column;
    margin: 0 15%;
    text-align: center;
    align-items: center;
}

#hero-section .title-cursor {
    animation: blink 0.7s infinite alternate;
}

@keyframes blink {
    0% { opacity: 1; }
    40% { opacity: 1; }
    60% { opacity: 0; }
    100% { opacity: 0; }
}

#hero-section .header .title {
    font-size: 80px !important;
    margin-bottom: 25px;
}

#hero-section .header .desc {
    font-size: 26px !important;
}

#hero-section .header button {
    margin-top: 2%;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 23px;
    cursor: pointer;

    scale: 1;
    transition: 0.2s scale;
}

#hero-section .header button:hover {
    scale: 1.05;
    transition: 0.2s scale;
}

#hero-section .down-arrow {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: 100px;
    animation: bouncing-arrow 1s infinite;
}

@keyframes bouncing-arrow {
    0% { bottom: 10px; }
    50% { bottom: 15px; }
    100% { bottom: 10px; }
}

/* Who We Are Section */
#whoweare {
    margin: 3% 5%;
    display: flex;
    flex-direction: row;
    gap: 4%;
}

#whoweare .desc {
    margin-top: 10px;
    font-size: 20px;
}

#whoweare img {
    object-fit: fit;
    width: 30%;
    height: auto;
}

/* Features Section */
#features {
    background-color: #eff0f2;
    padding: 3% 5%;
    font-size: 20px;
}

#features .title {
    margin-bottom: 30px;
}

#features .main-features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#features .feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 30%;
}

#features .feature img {
    max-width: 22vw;
    height: 15vw;
}

#features .feature .name {
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 15px;
}

#features .feature .desc {
    font-size: 0.9em !important;
}

#features .feature-divider {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0.5px solid #d9dbf1;
}

#features .additional-features .subtitle {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 20px;
}

#features .additional-features .add-features-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

#features .additional-features .add-features-section p {
    font-size: 0.9em;
    flex-basis: 25%;
}

#features .disclaimer {
    margin-top: 3%;
    font-size: 0.7em;
    margin-bottom: 0;
}

/* Testimonials Section */
#testimonials {
    margin: 3% 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

#testimonials .title {
    margin-bottom: 5px;
}

#testimonials .carousel {
    margin: 0% 10%;
}

#testimonials .carousel-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    max-width: 90vw;
}

#testimonials .carousel-slider .carousel-icon {
    width: 50px;
    height: auto;
    cursor: pointer;
}

#testimonials .carousel-page {
    display: block;
    padding: 2% 6%;
    width: 55vw;
    border-radius: 10px;
    text-align: center;
}

#testimonials #hidden {
    display: none;
}

#testimonials .carousel-text {
    font-size: 1.1em !important;
}

#testimonials .carousel-title .name {
    font-size: 1.1em;
    font-weight: 600;
}

#testimonials .carousel-title .job {
    color: #134074;
}

#testimonials .carousel-pagination {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#testimonials .pagination-circle {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: lightslategray;
}

#testimonials #active {
    scale: 1.2;
    background-color: #134074 !important;
}

#testimonials .testimonial-companies {
    margin: 5% 25% 0% 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

#testimonials .testimonial-img {
    height: 1.8em;
    width: auto;
}

/* Contact Us and FAQ Section */
#contact-faq {
    margin: 3% 5%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    font-size: 20px;
}

#contact-faq .title {
    margin-bottom: 5px;
}

#contact-faq .desc {
    margin-top: 0;
    font-size: 1em;
}

/* Contact Us Section */
#contact-faq #contact {
    flex-basis: 60%;
}

#contact-faq form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contact-faq label {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1em;
    font-weight: 700;
}

#contact-faq input, textarea {
    border: 1px solid black;
    margin-top: 6px;
    border-radius: 10px;
    padding: 15px;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
    resize: vertical;
}

#contact-faq button {
    margin-top: 1.2em;
    font-size: 1em;
    padding: 12px 3em;
    border: 0;
    border-radius: 0.9em;
    font-weight: 700;
    color: white;
    background-color: rgba(18, 49, 92, 1);
    cursor: pointer;
}

#contact-faq button:hover {
    background-color: rgba(18, 49, 92, 0.9);
    transition: 0.15s background-color;
}

/* FAQ Section */
#contact-faq #faq {
    flex-basis: 35%;
}

#contact-faq .faq-container, .faq-section {    
    padding: 10px 0px;
}

#contact-faq .faq-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1em !important;
    padding: 8px 0px;
}

#contact-faq .faq-container-header p {
    max-width: 92%;
}

#contact-faq .faq-container-desc {
    font-size: 0.9em;
}

#contact-faq .faq-container .hidden {
    display: none;
}

#contact-faq .faq-container-header .expand-icon {
    margin-left: auto;
    width: 1em;
    height: auto;
    cursor: pointer;
}

/* === RESPONSIVE UI ===*/
@media only screen and (max-width: 1100px) {
    :root {
        --subtitle-size: 40px;
    }
    
    /* Hero Section */
    #hero-section .header .title {
        font-size: 70px !important;
    }

    #hero-section .header .desc {
        font-size: 20px !important;
        width: 80%;
    }

    #hero-section .down-arrow {
        height: 80px;
    }

    /* Who We Are Section */
    #whoweare .desc {
        font-size: 18px;
    }

    /* Carousel Section */
    #testimonials .carousel {
        margin: 30px 0px;
    }

    #testimonials .carousel-page {
        width: 60vw;
    }

    #testimonials .testimonial-companies {
        margin: 4% 10%;
        margin-top: 40px;
    }

    #testimonials .testimonial-img {
        height: 35px;
    }

    /* Contact Us Section */
    #contact-faq label {
        font-size: 1.3rem;
    }
    
    #contact-faq .inline-container label {
        width: 48%;
    }
    
    #contact-faq input, textarea {
        padding: 10px;
        font-size: 1.2rem;
    }
    
    #contact-faq button {
        border-radius: 0.7em;
    }
}

@media only screen and (max-width: 900px) {
    /* Change the Width of Contact Section */
    #contact-faq {
        max-width: 100vw;
    }

    #contact-faq #contact {
        flex-basis: 100%;
    }

    #contact-faq #faq {
        flex-basis: 100%;
    }
    
    #contact-faq .faq-container, .faq-section {    
        padding: 7px 0px;
    }

    #contact-faq .faq-container-header {
        font-size: 1.2rem;
    }

    /* Carousel Section */
    #testimonials .carousel-page {
        width: 70vw;
    }
}

@media only screen and (max-width: 800px) { 
    /* Hero Section */  
    #hero-section .header {
        margin-left: 10%;
        margin-right: 10%;
    }

    #hero-section .header .title {
        font-size: 60px !important;
    }

    #hero-section .header .desc {
        font-size: 20px;
        width: 90%;
    }

    #hero-section .down-arrow {
        height: 70px;
    }

    /* Who We Are Section */
    #whoweare {
        margin: 6% 5%;
    }
    
    #whoweare .title {
        font-size: 50px;
    }

    #whoweare img {
        display: none;
    }

    /* Features Section */
    #features {
        padding: 6% 5%;
    }

    #features .main-features {
        gap: 20px;
    }

    #features .feature {
        flex-basis: 45%;
    }

    #features .feature img {
        max-width: 30vw;
        height: 35vw;
    }

    #features .additional-features .add-features-section p {
        flex-basis: 40%;
    }

    #features .disclaimer {
        margin-top: 6%;
    }

    /* Testimonials Section */
    #testimonials .testimonial-img {
        height: 30px;
    }

    /* Contact Us Section */
    #contact-faq {
        margin: 6% 5%;
        font-size: 20px;
    }
    
    #contact-faq input, textarea {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 600px) {
    /* Features Section */
    #features .main-features {
        gap: 35px;
    }

    #features .feature img {
        max-width: 50vw;
    }

    #features .feature {
        flex-basis: 100%;
        align-items: center;
        text-align: center;
    }
}